.questions-list-item {
    border: 1px solid brown;
    width:80%;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
  }
  
  .questions-list-item-header {
    background-color: #e6ffff;
  }
  .questions-list-item-header h5{
    padding:10px;
    margin-left: 20px;
  }

  .questions-list-item-details {
    width: 100%;
    height: max-content;
    display: table;
}

  .questions-list-item-details-user {
      width: 25%;
      height: max-content;
      float:left;
      border-right:1px solid #000;
      margin-bottom: 10px;
  }

  .questions-list-item-details-question {
    width: 70%;
    height: max-content;
    float:left;
    margin-left:10px;
}