.question-view-item {
    border: 1px solid brown;
    width:80%;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
  }
  
  .question-view-item-header {
    background-color: #e6ffff;
  }
  .question-view-item-header h5{
    padding:10px;
    margin-left: 20px;
  }

  .question-view-item-details {
    width: 100%;
    height: max-content;
    display: table;
}

  .question-view-item-details-user {
      width: 25%;
      height: max-content;
      float:left;
      border-right:1px solid #000;
      margin-bottom: 10px;
  }

  .question-view-item-details-question {
    width: 70%;
    height: max-content;
    float:left;
    margin-left:10px;
}

.question-view-answer {
    background-color: #99ccff;
}

.question-view-answer:hover {
    background-color: #fff;
    cursor: pointer;
}


.question-view-answer p{

    padding:10px;
}

.question-view-answer-selected {
    background-color: #99ccff;
}

.question-view-answer-selected:hover {
    background-color: #fff;
    cursor: pointer;
}


.question-view-answer-selected p{
    border: 5px solid black;
    padding:10px;
}